# Dependencies
node_modules/

# Electron
dist/
out/
*.exe

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Temporary files
*.tmp
*.temp

.cache
.electron-cache
build